<template>
	<div id="app" class="container">
		<h1 class="text-center m-5">{{msg}}</h1>

		<router-view/>
		
		<notifications group="foo"/>
  	</div>
</template>

<script>

	export default {
  		name: 'app',
		data () {
    		return {
      			msg: 'Bienvenidos'
    		}
		}
	}
</script>