<template>
	<div>
		<h1>Bienvenido, {{user.name}}</h1>

		<button class="btn btn-primary" v-on:click="cerrarSesion()">Salir</button>
	</div>
</template>

<script>
	export default {
        data() {
            return {
                user: {}
            }
        },

        created() {
            this.getDataUser()
        },

		methods: {
            cerrarSesion() {
                this.$store
                .dispatch("logout")
                .then(() => {
                    this.$router.replace("/");
                })
                .catch((err) => {});
            },

            getDataUser() {
                this.user = JSON.parse(localStorage.getItem('user'))
            }
        }
	}
</script>