<template>
	<div class="row">
		<div class="col-md-6">
			<div class="card">
				<div class="card-header">Inicio de sesión</div>

				<div class="card-body">
					<form>
						<div class="form-group">
							<label for="email">Dirección de email</label>
							<input type="email" class="form-control" placeholder="example@email.com" v-model="user.email">
						</div>

						<div class="form-group">
							<label for="password">Contraseña</label>
							<input type="password" class="form-control" placeholder="******" v-model="user.pass">
						</div>
					</form>

					<button class="btn btn-primary" @click="login()">Ingresar</button>
				</div>
			</div>
		</div>

		<div class="col-md-6">
			<Registro/>
		</div>
	</div>
</template>

<script>
	import config from '../../config/configServer'
	import axios  from 'axios'
	import Registro from '@/components/Registro'

	export default {
		components: {
			Registro
		},

		data() {
			return {
				user: {
					email: '',
					pass:  ''
				}
			}
		},

		methods: {
			async login() {
                this.$store
                .dispatch("login", this.user)
                .then(() => {
                    this.$router.replace("home")
                })
                .catch((err) => {
					this.$notify({
						type: 'error',
						position: 'top left',
						duration: 3000,
  						group: 'foo',
  						title: 'Notificación',
  						text: err
					});
                });
            }
		}
	}
</script>