<template>
    <div class="card">
		<div class="card-header">Registro de usuario</div>

		<div class="card-body">
			<form>
                <div class="form-group">
					<label for="email">Nombre de usuario</label>
					<input type="email" class="form-control" placeholder="userExameple" v-model="usuario.displayName">
				</div>

				<div class="form-group">
					<label for="email">Dirección de email</label>
					<input type="email" class="form-control" placeholder="example@email.com" v-model="usuario.email">
				</div>

				<div class="form-group">
					<label for="password">Contraseña</label>
					<input type="password" class="form-control" placeholder="******" v-model="usuario.pass">
				</div>

				<div class="form-group">
					<label for="password">Confirmar contraseña</label>
					<input type="password" class="form-control" placeholder="******" v-model="usuario.pass2">
				</div>
			</form>

			<button type="submit" class="btn btn-primary" @click="registrarUsuario()">Registrarse</button>
		</div>
	</div>
</template>

<script>
	import config from '../../config/configServer'
	import axios  from 'axios'

    export default {
		data() {
			return {
				usuario: {
					displayName : '',
					email       : '',
					pass        : '',
					pass2       : ''
				}
			}
		},

		methods: {
			async registrarUsuario() {
				let res = await axios({ url: config.urlServer+"/api/createUser", data: this.usuario, method: 'POST'})

				let data = res.data

				if(data.error) {
					this.$notify({
						type: 'error',
						duration: 3000,
  						group: 'foo',
  						title: 'Notificación',
  						text: data.msg
					})
				} else {
					this.$notify({
						type: 'success',
						duration: 3000,
  						group: 'foo',
  						title: 'Notificación',
  						text: data.msg
					})

					this.usuario = {
						displayName : '',
						email       : '',
						pass        : '',
						pass2       : ''
					}
				}
			}
		}
    }
</script>